<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Webpack 4 frontend boilerplate</title>

    <link rel="manifest" href="/manifest.json">
</head>
<body>

    <img src="<%= require('./assets/images/example.png') %>" alt="example image">

</body>
</html>
